:root {
  /* Colors */
  --background-black: hsla(0, 5%, 11%, 1);
  --background-white: hsla(206, 89%, 99%, 1);

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Transitions */
  --transition: all 0.2s linear;
}
