@media (hover: hover) {
  .link__hover--hover:hover {
    color: var(--text-black);
    background-color: var(--background-gray);
  }

  .footer__link--hover:hover.footer__link {
    color: var(--text-blue);
  }

  .slider__arrow-container:hover .slider__arrow--left,
  .slider__arrow-container:hover .slider__arrow--right {
    border-color: var(--arrow-blue);
  }

  .description__item-link:hover.description__item-link::after {
    left: 15px;
    scale: 1.1;
  }
}
