:root {
  /* Colors */
  --background-black: hsla(0, 5%, 11%, 1);
  --background-white: hsla(206, 89%, 99%, 1);
  --background-gray: hsla(204, 19%, 95%, 1);

  --text-white: var(--background-white);
  --text-black: hsla(208, 17%, 13%, 1);
  --text-black-title: var(--background-black);
  --text-blue: hsla(206, 89%, 55%, 1);
  --text-blue-logo: hsla(206,89%,27%,1);
  --text-gray: hsla(209, 18%, 45%, 1);

  --arrow-gray: hsla(208,18%,81%,1);
  --arrow-blue: var(--text-blue);

  --background-blue: var(--text-blue);

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Font Families */
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-dm-sans: "DM Sans", sans-serif;
  --font-family-epilogue: "Epilogue", sans-serif;

  /* Transitions */
  --transition: all 0.2s linear;
}
