@import "../base/variables";
@import "../base/mixins";

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Высота секции на всю высоту окна браузера

  img {
    height: 140px;
    margin-inline: auto;
    margin-bottom: 24px;
  }

  img:nth-of-type(0) {
    border-radius: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px; // Максимальная ширина контейнера
  }

  &__item {
    padding: 20px;
    margin: 10px;
  }

  &__item--top {
    width: 100%;
    text-align: center;
  }

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    flex: 1;
    text-align: center;
  }

  &__item + &__item {
    margin-left: 20px;
  }

  &__title {
    @include responsive-font-size(25, 40);
    font-family: var(--font-family-epilogue);
    @include row-height(40, 64);
    font-weight: var(--font-weight-bold);
    padding-bottom: 12px;
  }

  &__comment {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    margin-bottom: 64px;
    color: var(--text-gray);
  }

  &__item-title {
    font-size: 20px;
    @include row-height(20, 32);
    margin-bottom: 12px;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family-poppins);
  }

  &__item-comment {
    font-size: 16px;
    @include row-height(16, 24);
    margin-bottom: 18px;
    color: var(--text-gray);
    font-family: var(--font-family-poppins);
  }
}
