@import "../base/mixins";

.logo {
  color: var(--text-blue-logo);
  font-family: var(--font-family-epilogue);
  font-size: 58px;
  font-weight: var(--font-weight-bold);

  &--size {
    @include responsive-padding(12, 24, bottom);
  }
}

.footer {
  &--background {
    background-color: var(--background-gray);
  }

  &--font,
  &--font .footer__link {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    color: var(--text-gray);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include responsive-max-width(300, 1508);

    &--align {
      margin-inline: auto;
    }

    &--size {
      @include responsive-padding(50, 72, top);
      @include responsive-padding(69, 138, bottom);
      margin-top: 67px;
      column-gap: 27px;
      row-gap: 20px;
    }

    &-item:first-child {
      max-width: 330px;
    }
  }

  &__list-title {
    color: var(--text-black);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    @include row-height(12, 24);
  }

  &__list-item:not(:last-child) {
    @include responsive-padding(11, 12, bottom);
  }

  &__link {
    position: relative;
    text-decoration: none;
  }

  &__link::after {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    left: -5px;
    top: -5px;
  }

  &__slogan {
    @include row-height(14, 20);
    word-break: break-all;
  }

  &__number-icon::before,
  &__email-icon::before {
    display: inline;
    position: relative;
    top: 5px;
    aspect-ratio: 1;
    padding-right: 12px;
  }

  &__number-icon::before {
    content: url("../image/icon/footer/number-left.svg");
    width: 24px;
  }

  &__email-icon::before {
    content: url("../image/icon/footer/email-left.svg");
    width: 20px;
  }
}
